<form action="/add" method="POST">
  <label>Description</label>
  <input type="text" name="description" value="{{description}}">
  <label>Url</label>
  <input type="url" name="image" value="{{image}}">
  <input type="submit" value="Add Image">
</form>