<form action="/image-delete/{{id}}" method="POST">
  <label>Description</label>
  <input type="text" name="description" value="{{description}}" disabled>
  <label>Url</label>
  <input type="url" name="image" value="{{image}}" disabled>
  <input type="submit" value="Delete Image">
</form>