<form action='/articles/delete/{{id}}' method='POST'>
  <label>Title:</label>
  <input type="text" name='title' value='{{title}}' disabled>
  <br />
  <label>Description:</label>
  <input type="text" name='description' value='{{description}}' disabled>
  <br />
  <label>Content:</label>
  <textarea type="text" rows="10" name='content' disabled>{{content}}</textarea>
  <br />
  <input type="submit" value'DELETE ARTICLE'>
  
</form>