.game-card
  .game-logo
    width: 300px
    height: 200px


body > header > nav > ul > li
  display: inline-block
  margin-right: 20px


body > header > nav > ul > li > a
  text-decoration: none
  color: grey


body > main > h1
  text-align: center
  margin-bottom: 50px


#search-form > input[type="text"]:nth-child(1)
  margin-bottom: 60px


.cards > *
  display: inline-block
  margin: 10px
  text-align: center
  box-shadow: 5px 5px 5px grey
  padding: 10px

body > main > div > div > a
  margin: 5px
  text-decoration: none
  color: green

body > footer > p 
  text-align: center