<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MongoDb Exercises</title>
  <link href="../content/styles/site.css" type="text/css" rel="stylesheet">
</head>
<body>
  <h1>Welcome to Home page</h1>
   <section>
    <a href="/views/add-image.html">Add Image</a>
    <a href="/views/search-by-tag.html">Search by tag</a>
    <a href="/views/search-by-date.html">Search by tag</a>
  </section>

</body>
</html>