<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search by tag</title>
  <link href="../content/styles/site.css" type="text/css" rel="stylesheet">
</head>
<body>
  <h1>Search by tag</h1>
  <form method="POST">
    <select name="tag">
    {options}
    </select>
    <input type="submit" value="Find">
  </form>

  <section class="images">
    {images}
  </section>
</body>
</html>